In [18]:
import pandas as pd
import scipy as sp
import numpy as np

Example of function within function

In [19]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

wage(8), with_bonus(8)

(200, 250)

Functions with 3+ parameters

In [20]:
def subtract_bc(a,b,c):
    result = a - b*c
    return result

subtract_bc(20,8,2)

4

You can list the parameters out of order if you assign values to them within function call

In [21]:
subtract_bc(c=40,a=15,b=6)

-225

Notable Python functions

In [22]:
list = [53,74,24,6,245]
sum(list)

402

In [23]:
round(7.48632564257, 3)

7.486

In [24]:
pow(2,5) #2^5

32

In [25]:
len('United States of America')

24

In [26]:
colors = ['red', 'blue', 'orange', 'green', 'yellow']
colors

['red', 'blue', 'orange', 'green', 'yellow']

In [27]:
colors.append('brown')

In [28]:
colors

['red', 'blue', 'orange', 'green', 'yellow', 'brown']

In [29]:
del colors[3]
colors

['red', 'blue', 'orange', 'yellow', 'brown']

In [32]:
colors.extend(['green', 'black', 'white', 'pink', 'gray', 'purple'])
colors

['red',
 'blue',
 'orange',
 'yellow',
 'brown',
 'green',
 'black',
 'white',
 'pink',
 'gray',
 'purple']

In [33]:
colors[2:4] #3rd and 4th elements of the list

['orange', 'yellow']

In [34]:
colors[:5] #Returns elements 0-4

['red', 'blue', 'orange', 'yellow', 'brown']

In [35]:
colors[-3:] #last 3 elements

['pink', 'gray', 'purple']

In [36]:
numbers = [6, 72,245,95,2935]
list = [colors, numbers]
list

[['red',
  'blue',
  'orange',
  'yellow',
  'brown',
  'green',
  'black',
  'white',
  'pink',
  'gray',
  'purple'],
 [6, 72, 245, 95, 2935]]

In [37]:
colors.sort()
numbers.sort()
list

[['black',
  'blue',
  'brown',
  'gray',
  'green',
  'orange',
  'pink',
  'purple',
  'red',
  'white',
  'yellow'],
 [6, 72, 95, 245, 2935]]

In [39]:
(sales, console) = '3460000, PS5'.split(',')
print(sales)
print(console)

3460000
 PS5

In [41]:
def square_info(x):
    a = x**2
    p = 4 * x
    print('Area and Perimeter:')
    return a, p

square_info(7)

Area and Perimeter:

(49, 28)

In [44]:
dict = {'e1' : 'water', 'e2' : 'fire', 'e3' : 'earth', 'e4' : 'air'}
dict

{'e1': 'water', 'e2': 'fire', 'e3': 'earth', 'e4': 'air'}

In [45]:
dict['e4']

'air'

In [47]:
dict['e5'] = 'lightning'
dict

{'e1': 'water', 'e2': 'fire', 'e3': 'earth', 'e4': 'air', 'e5': 'lightning'}

In [48]:
bulls = {}

bulls['PG'] = 'Kerr'
bulls['SG'] = 'Jordan'
bulls['SF'] = 'Pippen'
bulls['PF'] = 'Rodman'
bulls['C'] = 'Grant'

bulls

{'PG': 'Kerr', 'SG': 'Jordan', 'SF': 'Pippen', 'PF': 'Rodman', 'C': 'Grant'}

In [50]:
print(bulls.get('coach')) #will get none

None

In [51]:
num = [1,2,3,4,5,6]
for n in num:
    print(n)

1
2
3
4
5
6

In [54]:
x = 0
while x <= 20:
    print (x)
    x += 5

0
5
10
15
20

range(start, stop, step)

start = first number in list
stop = last value + 1
step = distance between values

Not getting same range outputs in video

In [61]:
range(0,20)

range(0, 20)

In [62]:
for n in range(5):
    print(3*n)

0
3
6
9
12

In [63]:
for x in range(20):
    if x%2 == 0:
        print(x)
    else:
        print('odd')

0
odd
2
odd
4
odd
6
odd
8
odd
10
odd
12
odd
14
odd
16
odd
18
odd

In [65]:
x = [1,2,3,4,5]
for item in range(len(x)):
    print(x[item])

1
2
3
4
5

Count # of items <20

In [66]:
def count(numbers):
    total = 0 #rolling sum variable
    for x in numbers:
        if x < 20:
            total += 1
    return total

list_1 = [53, 32, 7, 24, 15, 73, 8, 100, 4]
count(list_1)

4

In [68]:
prices = {
    'spaghetti': 4,
    'lasagna': 5,
    'burger': 3
}

quantity = {
    'spaghetti': 3,
    'lasagna': 2,
    'burger': 8
}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])
    
print(money_spent)

46

Doesn't matter if you loop through prices or quantity since they have same keys

Multiple ways to import modules

In [2]:
import math
math.sqrt(16)

4.0

In [3]:
from math import sqrt
sqrt(25)

5.0

In [4]:
from math import sqrt as s
s(144)

12.0

In [5]:
import math as m
m.sqrt(49)

7.0

In [6]:
from math import * #import everything
sqrt(64)

8.0

In [2]:
import pandas_datareader

In [4]:
import numpy as np
a = np.array([[1,2,3,4],[5,6,7,8]])
a

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [5]:
a.shape

(2, 4)

In [6]:
a[1,3]

8

In [9]:
import random
prob = random.random()
prob

0.975690651355884

In [10]:
number = random.randint(1,6)
number

2

In [14]:
import numpy as np

In [16]:
np.random.randint(1,6,(4,6))

array([[3, 3, 5, 4, 3, 5],
       [4, 4, 4, 2, 4, 1],
       [5, 2, 2, 5, 1, 3],
       [2, 2, 3, 4, 3, 3]])

In [17]:
import numpy as np
import pandas as pd

ser = pd.Series(np.random.random(5), name = 'Column 01')
ser

0    0.711105
1    0.663168
2    0.476291
3    0.475117
4    0.786517
Name: Column 01, dtype: float64

In [18]:
ser[3]

0.47511735393989196

In [19]:
from pandas_datareader import data as wb

PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,8.014161
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,7.949919
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,7.837494
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,7.853556
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,7.821431
...,...,...,...,...,...,...
2021-12-20,158.460007,156.570007,156.600006,157.860001,9202600.0,157.860001
2021-12-21,158.149994,156.789993,157.649994,157.759995,6946000.0,157.759995
2021-12-22,159.580002,157.270004,157.770004,159.320007,6626300.0,159.320007
2021-12-23,160.919998,159.440002,159.500000,160.100006,5640900.0,160.100006
2021-12-27,161.990005,160.610001,160.669998,161.970001,4354404.0,161.970001

In [20]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6795 entries, 1995-01-03 to 2021-12-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6795 non-null   float64
 1   Low        6795 non-null   float64
 2   Open       6795 non-null   float64
 3   Close      6795 non-null   float64
 4   Volume     6795 non-null   float64
 5   Adj Close  6795 non-null   float64
dtypes: float64(6)
memory usage: 371.6 KB

In [23]:
PG.tail(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-12-20,158.460007,156.570007,156.600006,157.860001,9202600.0,157.860001
2021-12-21,158.149994,156.789993,157.649994,157.759995,6946000.0,157.759995
2021-12-22,159.580002,157.270004,157.770004,159.320007,6626300.0,159.320007
2021-12-23,160.919998,159.440002,159.500000,160.100006,5640900.0,160.100006
2021-12-27,161.990005,160.610001,160.669998,161.970001,4354404.0,161.970001